.res_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: rgba(100, 100, 100); */
  /* background: url("http://cdn.cnn.com/cnnnext/dam/assets/190710135245-12-waterfront-restaurants.jpg"); */
  /* background: url("https://cdn.oliverbonacininetwork.com/uploads/sites/42/2022/04/Canoe-Interior-Evening-Vibes-5170.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 735px;
  color: var(--color-white); */
}

.res_panel {
  width: 50%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(44, 40, 40, 0.69);
  border: 5px solid white;
  border-radius: 10px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-top: .5rem;
}

.res_div_spoon {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.res_div_spoon img {
  color: var(--color-black)
}

.res_user {
  margin-top: 1rem;
}

.res_name {
  margin-bottom: 2rem;
}

.res_phone {
  margin-top: 1rem;
}

.restaurantimg {
  height: 50%;
  width: 50%;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: rem;
  margin-bottom: 1rem;
}


.res_bottom_links {
  width: 60rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

.custom__button {
  height: 2.5rem;
  width: 14rem;
  border-radius: 10px;
}