.owner_table{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  background: rgba(44, 40, 40, 0.69);
  color: var(--color-white);
  padding: 5rem;
}

.owner_table_name {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.owner_table_main {
  display: flex;
  flex-direction: row;
  border: 2px;
  justify-content: space-around;
  width: 100%;

}

.owner_table_num_of_seats {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list_of_seats {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner_table_num_of_tables {
  display: flex;
  flex-direction: column;
}

.num_of_tables {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50px;
  height: 10px;
}

.button_list_tables {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.custom__button {
  width: 150px;
  font-size: 20px;
  justify-content:flex-end;
}

.list_of_seats li {
  padding: 5px;
}

.num_of_tables input {
  margin: rem 0;
}

.input__list_table{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 3rem;
  height: 2rem;
  background-color: grey;
}