.owner_restaurant {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner_restaurant_image {
  height: 400px;
  width: 300px;
  border: solid;
  border-width: 2px;
  border-radius: 10px;
}

.custom__button {
  height: 40px;
  width: 120px;
  margin: 30px 0;
}