.owner_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://cdn.oliverbonacininetwork.com/uploads/sites/42/2022/04/Canoe-Interior-Evening-Vibes-5170.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
}
.owner_page_top_split {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.owner_page_top {
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: 200px;
}

.owner_page_spoon {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 2rem;
}

.owner_page_spoon img {
  color: var(--color-black);
}

.owner_page_add {
  color: var(--color-white);
  font-size: 20px;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.owner_page_add_new {
  color: var(--color-white);
  font-size: 15px;
}

.owner_bottom_links {
  width: 80vw;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.owner_bottom_links button {
  width: 15rem;
  margin: 5rem;
  display: flex;
  justify-content: center;
}


.owner_page_restaurant{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}