PORT=8000

DB_HOST=localhost
DB_USER=labber
DB_PASSWORD=labber
DB_DATABASE=final
DB_PORT=5432


TWILIO_ACCOUNT_SID=account id from twilio
TWILIO_AUTH_TOKEN=auth token from twilio

TWILIO_SENDER=twilio phone number
TWILIO_RECEIVER=receiver phone number
