.app__aboutus {
  position: relative;
  background: url("https://img.freepik.com/free-vector/gradient-black-backgrounds-with-golden-frames_23-2149150610.jpg?w=1380&t=st=1670273379~exp=1670273979~hmac=15ec8aab5ea93ce7c69028971094fde352fed66ffd334eb651cfa484c6eaeca7");
  background-size: cover;
  width: 100%;
  height: 100vh;

}

.app__aboutus-overlay {
  position: absolute;
  inset: 0;
}

.app__aboutus-overlay img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.app__aboutus-content {
  width: 100%;
  z-index: 2;
}

.app__aboutus-content_about {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: right;
}

.app__aboutus-content_img {
  margin: 2rem 4rem;
}

.app__aboutus-content_img img {
  height: 310px;
}

.app__aboutus-content_history {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin: 0 5rem;
}

.app__aboutus-content_about p,
.app__aboutus-content_history p {
  margin: 2rem 0;
  color: var(--color-grey);
}

.profile__img{
  border-radius: 50%;
  width: 40%;
}

.profile__img:hover {
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}

.p__about {
  margin: 2rem 0;
  color: var(--color-gold);
  font-family: var(--font-alt);
  font-weight: 400;
  letter-spacing: 0.10em;
  text-transform: capitalize;
  line-height: 40px;
  font-size: 20px;
}

.headtext__cormorant{
  font-family: 'Caveat', cursive;
  font-size: 4rem;
}


@media screen and (min-width: 2000px) {
  .app__aboutus-content_img img {
      height: 1110px;
  }

  .app__aboutus-content_about p,
  .app__aboutus-content_history p {
      margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutus-content {
      flex-direction: column;
  }

  .app__aboutus-content_img {
      margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutus-overlay img {
      width: 80%;
      height: 320px;
  }
}