.outerDiv {
  background: url("https://cdn.oliverbonacininetwork.com/uploads/sites/42/2022/04/Canoe-Interior-Evening-Vibes-5170.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 735px;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thankUser {
  position: absolute;
  margin-bottom: 25rem;
  display: flex;
  justify-content: center;
}

.one {
  margin-top: 2rem;
}

.restaurant__title {
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-size: 4rem;
}

.owner_page_add {
  padding-top: 1rem;
}

.custom__button{
  display:flex;
  justify-content: center;
}