
.owner_new_info{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 5px;
}

.owner_new_container {
  width: 50%;
}
.owner_new_input {
  padding: 1.5rem;
}
.owner_new_input input{
  width: 25rem;
  height: 2rem;
  background: rgb(122, 122, 122);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 1rem;
}


.edit__page{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-family: 'Courier New', Courier, monospace;
}