@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.login__font {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

.login__section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  margin-top: 1rem
}

.login__input,
.btn {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: grey;
}

.btn {
  margin-top: 1rem;
}

.line {
  display: inline-block;
}

.login__div {
  display: flex;
  justify-content: center;
  height: 40rem;
}


.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://cdn.oliverbonacininetwork.com/uploads/sites/42/2022/04/Canoe-Interior-Evening-Vibes-5170.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 60rem;
  color: var(--color-white);
}

