
.owner_new_info{
  width: 600px;
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 5px;
}

.owner_new_container {
  width: 63%;
}
.owner_new_input {
  padding: 1.5rem;
}
.owner_new_input input{
  width: 30rem;
  height: 3rem;
  background: rgb(122, 122, 122);
  color: rgb(255, 255, 255);
}

.input__new_restaruant{
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 20rem;
  height: 23px;
}